{% extends 'layouts/base.html' %}
{% block title %}Home{% endblock title %}

{% block container %}
<div class="container flex justify-center items-center w-full h-full">
    <form action="/translate" style="border py-5 px-5 rounded-lg flex flex-col gap-3" method="post">
        <section>
            <label for="language">Choose your language:</label>
            <select class="border" id="language" name="language">
                <option value="northern sotho">Northern Sotho</option>
                <option value="afrikaans">Afrikaans</option>
                <option value="zulu">Zulu</option>
                <option value="tsonga">Tsonga</option>
                <option value="xhosa">Xhosa</option>
                <option value="swahili">Swahili</option>
                <option value="swati">Swati</option>
                <option value="southern sotho">Southern Sotho</option>
                <option value="english" selected>English (default)</option>
            </select>
        </section>
        <label for="">Text: <input type="text" name="text" id="text" placeholder="how are you today"> </label>
        <input class="py-3 w-1/3 px-2 border rounded-lg bg-green-500 hover:bg-line-400 text-black" type="submit"
            value="Submit">
    </form>
</div>
{% endblock container %}